# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
.cache

# Annoying Mac File
.DS_Store
**/.DS_Store

# workbook test files
test/feature_workbook.ipynb
test/.ipynb_checkpoints/*
test/worksheet.py

# Experimentation notebooks checkpoints
dfply/.ipynb_checkpoints/*

# distribution
dist
build

# egg_info
dfply.egg_info
